/*************************** SEÇÃO DA PÁGINA INTEIRA ***************************/

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/*************************** SEÇÃO DA HEADER E MENU DE NAVEGAÇÃO ***************************/
.navegacao {
    position: fixed;
    background: #8a5a3b;
    width: 100%;
    z-index: 100;
    top: 0;
    padding: 24px;
}

.lista {
    display: flex;
    justify-content: center;
    gap: 40px;
    list-style: none;
}

.links {
    text-decoration: none;
    color: #f0f0f0;
    font-weight: 500;
    position: relative;
    padding: 8px 0;
}

.links::after {
    content: "";
    height: 2px;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #29180c;
    transition: width 0.6s ease;
}

.links:hover::after {
    width: 100%;
}

/*************************** SEÇÃO DO BANNER ***************************/

.banner-clinica {
    width: 100%;
    height: 1050px;

    background-image:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("img/clinica-como-ela-e.png");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.banner-texto {
    color: white;
    max-width: 800px;
}

.banner-texto h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.banner-texto p {
    font-size: 18px;
    margin-bottom: 25px;
}

.botao-banner {
    background: #8a5a3b;
    color: white;
    padding: 12px 25px;
    border-radius: 25px;
    text-decoration: none;
}

/*************************** SEÇÃO DO SOBRE + O INICIO ***************************/

.sobre-clinica {
    padding: 80px 20px;
    text-align: center;
    background: #8a5a3b;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 45px;

}

.caixa-descricao {
    max-width: 1400px;
    margin: 0 auto;

    padding: 30px;

    border-radius: 20px;

    background: #8a5a3b;
    color: white;

    border: 2px solid #2f2f2f;
}

.caixa-descricao p {
    font-size: 18px;
    line-height: 1.7;
}

/*************************** SEÇÃO DA PARTE DE SERVIÇOS ***************************/
.clinica-servico {
    padding: 80px 20px;
}


.wrapper-card {
    max-width: 1400px;
    margin: 0 auto;
}


.titulo-texto {
    margin-top: -50px;
    text-align: center;
    font-size: 45px;
    margin-bottom: 50px;

    background: #8a5a3b;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.cards-servicos {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}


.caixa-servico {
    width: 320px;
    border-radius: 16px;
    border: 1px solid rgb(37, 37, 37);
    overflow: hidden;
    background: white;
    transition: transform 0.4s ease, box-shadow 0.4s ease;

}


.caixa-servico:hover {
    transform: translateY(-10px);
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.15);
}

.caixa-imagem-servico {
    width: 100%;
}

.imagem-servico {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.titulo-servico {
    font-size: 20px;
    padding: 15px;
    text-align: center;
}

.descricao-servico {
    font-size: 14px;
    padding: 0 20px 20px 20px;
    text-align: center;
    line-height: 1.6;
}

/*************************** SEÇÃO DA PARTE PROFISSIONAL ***************************/


.clinica-profissionais {
    padding: 80px 20px;
}


.grid-profissionais {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
    max-width: 1200px;
    margin: 50px auto;
}


.caixa-profissional {
    background: white;
    border-radius: 16px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: none;
}

.caixa-profissional:hover {
    transform: translateY(-8px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
}


.imagem-profissional {
    width: 300px;
    height: 600px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}


.caixa-profissional h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.caixa-profissional p {
    font-size: 14px;
    line-height: 1.6;
}

/*************************** SEÇÃO DO FORMULARIO ***************************/

.formulario {
    padding: 100px 20px;
    background: #e9eef3;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.formulario-caixa {
    background: #ffffff;
    padding: 40px;
    width: 900px;
    border-radius: 16px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}


.formulario-caixa h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 45px;
    background: #8a5a3b;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}


label {
    font-size: 18px;
    font-weight: 500;
    color: #333;
}

input,
select {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 18px;
    transition: border 0.3s, box-shadow 0.3s;
}



button {
    margin-top: 10px;
    padding: 14px;
    border: none;
    border-radius: 8px;

    background: #8a5a3b;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;

    transition: transform 0.2s, box-shadow 0.2s;
}

button:hover {
    transform: translateY(-2px);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}


/* ================= Celular ou telas menores ================= */

@media (max-width: 900px) {

    .navegacao {
        padding: 15px;
    }

    .lista {
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
        text-align: center;
    }

    .links {
        font-size: 14px;
    }

    .grid-profissionais {
        grid-template-columns: 1fr;
    }

    .cards-servicos {
        flex-direction: column;
        align-items: center;
    }

    .imagem-profissional {
        width: 200px;
        height: 400px;
    }

    .formulario-caixa {
        width: 90%;
    }

    .sobre-clinica {
        font-size: 32px;
    }

    .titulo-texto {
        font-size: 32px;
    }

}