* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.principal {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.caixa-imagem-clinica {
    display: flex;
    margin: 0 auto;
    margin-top: -250px
}

.imagem-clinica {
    margin-top: -50px;
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.sobre-clinica {
    margin-top: -250px;
    text-align: center;
    font-size: 45px;
    background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(106, 217, 141, 1) 50%, rgba(42, 123, 155, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.caixa-descricao {
    padding: 32px;
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 16px;
    border: 1px solid;
    background: #2A7B9B;
    background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(106, 217, 141, 1) 50%, rgba(42, 123, 155, 1) 100%, rgba(42, 123, 155, 1) 100%);
}


.clinica-servico {
    padding: 80px 20px;
}


.wrapper-card {
    max-width: 1200px;
    margin: 0 auto;
}


.titulo-texto {
    margin-top: -50px;
    text-align: center;
    font-size: 45px;
    margin-bottom: 50px;

    background: linear-gradient(90deg,
            rgba(42, 123, 155, 1) 0%,
            rgba(106, 217, 141, 1) 50%,
            rgba(42, 123, 155, 1) 100%);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.cards-servicos {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}


.caixa-servico {
    width: 320px;
    border-radius: 16px;
    border: 1px solid rgb(37, 37, 37);
    overflow: hidden;
    background: white;

    transition: transform 0.4s ease, box-shadow 0.4s ease;

}


.caixa-servico:hover {
    transform: translateY(-10px);
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.15);
}

.caixa-imagem-servico {
    width: 100%;
}

.imagem-servico {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.titulo-servico {
    font-size: 20px;
    padding: 15px;
    text-align: center;
}

.descricao-servico {
    font-size: 14px;
    padding: 0 20px 20px 20px;
    text-align: center;
    line-height: 1.6;
}

.clinica-profissionais {
    padding: 80px 20px;
}


.grid-profissionais {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    max-width: 1200px;
    margin: 50px auto;
}


.caixa-profissional {
    background: white;
    border-radius: 16px;
    padding: 20px;
    text-align: center;
    border: 1px solid #ddd;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: none;
}

.caixa-profissional:hover {
    transform: translateY(-8px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
}


.imagem-profissional {
    width: 300px;
    height: 600px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}


.caixa-profissional h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.caixa-profissional p {
    font-size: 14px;
    line-height: 1.6;
}

.formulario {
    padding: 100px 20px;
    background: #e9eef3;
    display: flex;
    justify-content: center;
}


.formulario-caixa {
    background: #ffffff;
    padding: 40px;
    width: 400px;
    border-radius: 16px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}


.formulario-caixa h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 28px;
}


form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}


label {
    font-size: 14px;
    font-weight: 500;
    color: #333;
}

input,
select {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
    transition: border 0.3s, box-shadow 0.3s;
}



button {
    margin-top: 10px;
    padding: 14px;
    border: none;
    border-radius: 8px;

    background: linear-gradient(90deg,
            rgba(42, 123, 155, 1) 0%,
            rgba(106, 217, 141, 1) 100%);

    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;

    transition: transform 0.2s, box-shadow 0.2s;
}

button:hover {
    transform: translateY(-2px);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}